---
import CommonHead from "../components/CommonHead.astro";
---

<!doctype html>
<html lang="en">
<CommonHead title="Not Found"  description="" />
<body class="bg-event-horizon text-white">
<div class="flex flex-col justify-center min-h-screen max-w-[1100px] w-full mx-auto text-center">
    <h1>Oops!</h1>
    <h2>Not Found!</h2>
    <a href="/" class="text-blast-off block py-3">Go back to the homepage</a>
</div>
</body>
</html>

