---
import '@fontsource-variable/montserrat';
import '../styles/global.css'
import { config } from '@fortawesome/fontawesome-svg-core';
import '@fortawesome/fontawesome-svg-core/styles.css';
config.autoAddCss = false;

import {ViewTransitions} from "astro:transitions"

type Props = {
    title: string;
    description: string;
}

const {title, description} = Astro.props;
---

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <ViewTransitions />
</head>
<body>
<slot />
</body>
</html>
